<div class="mainForm">
    <h1>Registration</h1>
    <form class="loginForm" action="/registerAdmin" method="post">
        <div class="login-input">
            <p>Username:</p>
            <input type="text" name="username" placeholder="e.g. nickJr" required/>
        </div>

        <div class="login-input">
            <p>Password:</p>
            <input type="password" name="password" placeholder="e.g. password1234" required/>
        </div>
        <div class="login-input">
            <p>Email Address</p>
            <input type="text" name="email_address" placeholder="e.g. donknotts@yahoo.com"/>
        </div>
        <div class="login-buttons">
            <input class="login-submit" type="submit">
            <a class="login-button" href="/login">Cancel</a>
        </div>
    </form>
</div>