<div class="mainForm">
    <h1>Registration</h1>
    <form action="/registerAdmin" method="post">
        <div>
            <p>Username:</p>
            <input type="text" name="username" placeholder="e.g. Ron, Jane, Nick32" required/>
        </div>

        <div>
            <p>Password:</p>
            <input type="password" name="password" placeholder="e.g. bunny33, password1234, 1111" required/>
        </div>
        <div>
            <p>Email Address</p>
            <input type="text" name="email_address" placeholder="e.g. donknotts@yahoo.com"/>
        </div>
        <div>
            <input type="submit">
            <a href="/login">Cancel</a>
        </div>
    </form>
</div>