<body>
<header>
    <h1>Admin</h1>
</header>
<div class="mainContent">
    <article class="article-column-1">
        <div class="user-info-box">
            <h2>User Info:</h2>
            <!--=====scope user====-->
            <br/>
            <h3>Chores Needed</h3>
            <!--=====scope total task====-->
            <br/>
            <h3>Chores In Progress</h3>
            <!--====scope total in progress====-->
            <br/>
            <h3>Total Urgent Tasks</h3>
            <!--====scope total urgent tasks====-->
            <br/>
            <h3>Total Money Earned</h3>
            <!--====scope total money earned====-->
        </div>
    </article>
    <article class="main-column-user">
        <div class="task-box">
            <h2>Task</h2>
        </div>
        <div class="task-box">
            <h2>In Progress</h2>
        </div>
        <div class="task-box">
            <h2>Submitted</h2>
        </div>
    </article>
</div>
</body>